html > body {
	background: #20beb2;
	text-align:center;
	padding-top: 100px;
	
	#coming-soon {
		font-family: Helvetica, sans-serif;
		width:864px;
		margin:0px auto;
		text-align:left;		
		background: white;
	
		.contact {
			padding: 10px 0;
			
			p,
			h6 {
				text-align: center;
				margin: 0;
				font-weight: normal;
	
				a,
				a:link,
				a:visited,
				a:hover,
				a:active {
					color: black;
					text-decoration: none;
				}
			}
			p {
				font-size: 19px;
				
				b {
					color: #20beb2;
					padding: 0 10px;
				}
			}
			h6 {
				font-size: 18px;
			}
		}
	}
}
